<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <h2>Add Best Practice</h2>
    <!-- <input type="hidden" th:field="*{id}" /> -->

    <form th:action="@{/best-practice/save}" method="post" th:object="${bestPractice}">
        <input type="hidden" name="id" th:value="${bestPractice.id}" />
        <!-- <input type="hidden" th:field="*{id}" /> -->
    
        Title: <input type="text" th:field="*{title}" /><br><br>
    
        Description: <textarea th:field="*{description}"></textarea><br><br>
    
        Category:
        <select name="categoryId">
            <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}">
            </option>
        </select>
    
        <br><br>
        <button type="submit">Save</button>
    
    </form>

    <!-- <a href="/best-practice/list">View List</a> -->
    <a href="/">View List</a>

</body>

</html>