<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <h2>Best Practices</h2>

    <table border="1">
        <tr>
            <th>sr_no</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Status</th>
            <th>Edit</th>
            
        </tr>

        <tr th:each="bp : ${list}">
            <td th:text="${bp.id}"></td>
            <td th:text="${bp.title}"></td>
            <td th:text="${bp.description}"></td>
            <td th:text="${bp.category.name}"></td>
            <td th:text="${bp.status}"></td>
            <td>
                <a th:href="@{/best-practice/edit/{id}(id=${bp.id})}">Edit</a>
                |
                <a th:href="@{/best-practice/delete/{id}(id=${bp.id})}">
                    Delete
                </a>
            </td>
        </tr>
    </table>

    <a href="/best-practice/add">Add New</a>

</body>

</html>